<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, class: 'label' %>
    <div class="control">
      <%= form.text_field :title, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :description, class: 'label' %>
    <%= form.text_area :description, class: 'textarea' %>
  </div>

  <div class="field ">
     <%= form.label :image, class: 'label' %>
    <div class="control">
      <%= form.text_field :image, class:'input' %>
     </div>
  </div>

  <div class="columns">
    

    <div class="field column">
      <%= form.label :value, class: 'label' %>
      <div class="control">
        <%= form.number_field :value, class: 'input', step: '0.01' %>
      </div>
    </div>

    <div class="field column">
      <%= form.label :offer_value, class: 'label' %>
      <div class="control">
        <%= form.number_field :offer_value, class: 'input', step: '0.01' %>
      </div>
    </div>

    <div class="field column">
      <%= form.label :dcto, class: 'label' %>
      <div class="control">
        <%= form.text_field :dcto, class: 'input' %>
      </div>
    </div>

    <div class="field column">
      <%= form.label :offer, class: 'label' %>
      <%= form.check_box :offer, class: 'checkbox' %>
    </div>
  </div>
  

  

  <div class="field">
    <%= form.label :model, class: 'label' %>
    <div class="control">
      <%= form.text_field :model, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :availability, class: 'checkbox' %>
    <%= form.check_box :availability, class: 'checkbox' %>
  </div>

  <div class="actions">
    <%= form.submit ' Enviar '.html_safe, class: 'button is-success is-outlined' %>
  </div>
<% end %>
