<section class="section">
  <p>
    <strong class="">Title:</strong>
    <%= @product.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag "#{@product.image }", alt: "#{@product.title }", class: 'img-show' %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= @product.value %>
  </p>

  <p>
    <strong>Offer Value:</strong>
    <%= @product.offer_value %>
  </p>

  <p>
    <strong>Dcto:</strong>
    <%= @product.dcto %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= @product.model %>
  </p>

  <p>
    <strong>Availability:</strong>
    <%= @product.availability ? '<label class= "tag is-success"> Yes </label>'.html_safe :  '<label class= "tag is-danger"> No </label>'.html_safe %>
  </p>
</section>

<%= link_to 'Edit'.html_safe, edit_product_path(@product), class: 'button is-info is-outlined' %> |
<%= link_to 'Back'.html_safe, products_path, class: 'button is-warning is-outlined' %>
