<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>App Tienda</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  </head>

  <body class="has-navbar-fixed-top">
    <%= render 'partial/navbar' %>

      <div class="container">
        <% flash.each do |key, value| %>
          <div class="notification is-<%= key %>">
            
            <%= value %>
          </div>
        <% end %>
    </div>

    <div class="container">
      <%= yield %>
    </div>
    <br>
    <div class="container is-fluided">
      <%= render 'partial/footer' %>
    </div>
  </body>
</html>
